.movies {
    border: 1px solid var(--primary);
    border-radius: 3px;
    color: var(--gray);
    display: grid;
    grid-template-rows: auto 1fr auto;
    padding: 10px 25px;
  }
  
  .movies a {
    border-bottom: 1px solid var(--primary);
    color: var(--primary);
    text-decoration: none;
  }
  
  .movies .title {
    text-decoration: none;
    font-variant: small-caps;
    margin-bottom: 0;
  }
  
  .movies .description {
    font-size: 14px;
  }
  
  .movies .details {
    border-top: 1px solid var(--primary);
    padding-top: 10px;
  }
  
  .movies .details p {
    font-size: 12px;
    margin: 0 0 5px;
  }
  
  .movies .details span {
    font-weight: bold;
  }
  